body {
    background-color: #f3f6fb;
}

.head {
    width: 100%;
    background-color: white;
}

.admin-header {
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head .admin-header .bye a {
    transition: color 0.3s ease;
    color: black;
}

.head .admin-header .bye a:hover {
    color: #df8d41;
}
